body 
  {
    background-color: #3374a3;
    font-family: Arial, Helvetica, sans-serif;
  }


.card-grid {
	  width: 150px;
	  min-height: 150px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.front {
    border: 4px solid #000000;
    padding: 10px;
    max-height: 120px;
    min-height: 120px;
    max-width: 120px;
    min-width: 120px;

}
.back {
    border: 4px solid #000000;
    padding: 10px;
    max-height: 120px;
    min-height: 120px;
    max-width: 120px;
    min-width: 120px;
}

.code {
    text-align: left;
    font-size: 12px;
}

.symbol {
    text-align: center;
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.name {
    text-align: center;
    font-size: 17px;
}

.backname {
    text-align: center;
    margin-bottom: 3px;
    font-size: 10px;
}

.period {
    text-align: left;
    font-size: 7px;
}

.group {
    text-align: left;
    font-size: 7px;
}
.